EC2/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
EC2/app.py
EC2/app.py
EC2/app2.py
EC2/Dockerfile
EC2/requirements.txt
EC2/test_app.py
EC2/.vscode/settings.json
EC2/__pycache__/test_app.cpython-39-pytest-6.2.4.pyc
new-cdk/custom-vpc/app.py
.github/workflows/python-app.yml
